<article>
    <button [routerLink]="['/shopping']">Back</button>
    <!-- <img class="listing-photo" [src]="housingLocation?.photo" alt="Exterior photo of {{ housingLocation?.name }}"
        crossorigin /> -->
    <section class="listing-description">
        <h2 class="listing-heading">{{ product?.name }}</h2>
        <!-- <p class="listing-location">{{ housingLocation?.city }}, {{ housingLocation?.state }}</p> -->
    </section>
    <section class="listing-features">
        <h2 class="section-heading">About this product</h2>
        <ul>
            <li>Category: {{ product?.category }}</li>
            <li>Price: {{ product?.price }}</li>
            <li>Stock: {{ product?.quantityInStock }}</li>
            <li>Description: {{ product?.description }}</li>
            <li>Supplier: {{ product?.supplier?.name }}</li>
            <li>Supplier's contact number: {{ product?.supplier?.contactNumber }}</li>
            <li>Supplier's Address: {{ product?.supplier?.address }}</li>
        </ul>
    </section>
    <section class="listing-apply">
        <h2 class="section-heading">Apply now to live here</h2>
        <form [formGroup]="applyForm" (submit)="submitApplication()">
            <label for="first-name">First Name</label>
            <input id="first-name" type="text" formControlName="firstName" />
            <label for="last-name">Last Name</label>
            <input id="last-name" type="text" formControlName="lastName" />
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email" />
            <button type="submit" class="primary">Apply now</button>
        </form>
    </section>
</article>
`,