<main>
    <button class="btn btn-primary" [routerLink]="['/rent-house']">back</button>

    <h1>{{routeAction === 'add' ? 'Thêm':'Sửa'}} thông tin {{title}}</h1>
    <ng-container>
        <ng-container *ngFor="let data of formUI trackBy:trackByIndex">
            <form>
                <div class="form-group">
                    <label [ngClass]="data.type === 'checkbox'? 'form-check-label':''"
                        for="{{data.label}}">{{data.label}}</label>
                    <input *ngIf="data.type === 'checkbox'; else inputText" type="checkbox" class="form-check-input"
                        id="{{data.label}}" [(ngModel)]="formData[data.params]" name="{{data.label}}">
                    <ng-template #inputText>
                        <input type="{{data.type}}" class="form-control" id="{{data.label}}"
                            [(ngModel)]="formData[data.params]" name="{{data.label}}"
                            placeholder="{{data.placeholder}}">
                    </ng-template>
                </div>
            </form>
        </ng-container>
        <button (click)="submitAction()" class="btn btn-primary">{{routeAction === 'add' ?
            'Thêm':'Sửa'}}</button>
    </ng-container>



</main>