<section>
    <div>
        <input type="text" placeholder="Filter by city" #filter (keyup.enter)="filterResults(filter.value)">
        <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
        <button class="secondary" type="button" (click)="clearFilter()">Clear</button>
        <Button [routerLink]="['/rent-house/add']"> Thêm </Button>
    </div>


    <button class="global-btn">Đây là button sử dụng style global</button>
</section>
<section class="results">
    <ng-container>
        <div *ngFor="let housingLocation of filteredLocationList">
            <app-housing-location [housingLocation]="housingLocation"
                (addToSearchBar)="addHousingLocationToSearchBar($event)">
                <button [hoverHighlight]="true" #housingNameBtn>Đây là button cha truyền cho con</button>
            </app-housing-location>
        </div>
    </ng-container>
</section>