<section class="results">
    <div>
        <input type="text" placeholder="Filter by city" #filter (keyup.enter)="filterResults(filter.value)">
        <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
        <button class="secondary" type="button" (click)="clearFilter()">Clear</button>
    </div>
    <div *ngFor="let product of filteredProductList">
        <!-- <app-housing-location [housingLocation]="housingLocation"></app-housing-location> -->
        <list-product-item [product]="product"
            (addProductToSearchBar)="addProductToSearchBar($event)"></list-product-item>
    </div>
</section>